node_modules
**/node_modules
**/node_modules/**
**/.next
**/.venv
**/dist
**/.turbo
**/.expo
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/coverage
**/*.log
**/.env
**/.env.*
!**/.env.example
.local
.git
